## 下載市值前150 大股票 (台50 + 中100)
- http://moneydj.emega.com.tw/js/T50_100.htm

In [2]:
stocks = ['1101', '2474', '1440', '2345', '2809', '6414', '1102', '2801', '1477', '2347', '2812', '6415', '1216', '2880', '1504', '2352', '2823', '6452', '1301', '2881', '1536', '2353', '2834', '6456', '1303', '2882', '1589', '2355', '2845', '8150', '1326', '2883', '1590', '2356', '2849', '8454', '1402', '2884', '1605', '2360', '2867', '8464', '1476', '2885', '1704', '2362', '2888', '9907', '2002', '2886', '1707', '2376', '2903', '9910', '2105', '2887', '1717', '2377', '2915', '9914', '2207', '2890', '1722', '2379', '3034', '9917', '2301', '2891', '1723', '2383', '3037', '9921', '2303', '2892', '1789', '2385', '3044', '9933', '2308', '2912', '1802', '2392', '3189', '9938', '2311', '3008', '2015', '2448', '3231', '9945', '2317', '3045', '2049', '2449', '3673', '5264', '2324', '3474', '2059', '2451', '3682', '2325', '3481', '2101', '2498', '3702', '2330', '4904', '2103', '2501', '4958', '2354', '4938', '2106', '2542', '5264', '2357', '5880', '2201', '2603', '5522', '2382', '6505', '2204', '2609', '5871', '2395', '9904', '2206', '2610', '6176', '2408', '1227', '2231', '2615', '6239', '2409', '1262', '2313', '2618', '6269', '2412', '1319', '2327', '2707', '6285']

In [3]:
from  pandas_datareader import DataReader

ary = []
for s in stocks:
    try:
        df = DataReader('{}.TW'.format(s), data_source = 'yahoo', start = '2021-01-01')
        df['symbol'] = s
        ary.append(df)
    except:
        print('ERROR', s)

/Users/david/.pyenv/versions/3.8.10/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

ERROR 6452
ERROR 1704
ERROR 2311
ERROR 2448
ERROR 5264
ERROR 3474
ERROR 2325
ERROR 5264
ERROR 1262

In [14]:
for df in ary:
    df['symbol'] = df['symbol'].astype(str)

## 下載大盤指數

In [15]:
df = DataReader('^TWII'.format(s), data_source = 'yahoo', start = '2021-01-01')
df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-01-04,14937.129883,14720.250000,14720.250000,14902.030273,6487600,14902.030273
2021-01-05,15000.030273,14861.990234,14913.639648,15000.030273,6302200,15000.030273
2021-01-06,15197.679688,14837.000000,15145.849609,14983.129883,7787000,14983.129883
2021-01-07,15270.400391,15049.860352,15059.519531,15214.000000,5878900,15214.000000
2021-01-08,15463.950195,15275.379883,15365.129883,15463.950195,6192800,15463.950195

In [16]:
df['symbol'] = '^TWII'

In [17]:
ary.append(df)

## 將資料匯出成 csv 檔案

In [4]:
! mkdir data

In [19]:
import pandas
dfall = pandas.concat(ary)
dfall.to_csv('data/20211109_top150_tw_stocks.csv')

## 匯出模型需要檔案

In [20]:
import pandas
df = pandas.read_csv('data/20211109_top150_tw_stocks.csv')
df.set_index('Date', inplace=True)
df.head()

,High,Low,Open,Close,Volume,Adj Close,symbol
Date,,,,,,,
2021-01-04,43.500000,43.049999,43.200001,43.200001,13705760.0,40.352589,1101
2021-01-05,43.400002,43.000000,43.250000,43.099998,16601334.0,40.259178,1101
2021-01-06,43.299999,42.799999,43.099998,42.950001,18966159.0,40.119068,1101
2021-01-07,43.150002,42.849998,42.950001,42.849998,21021508.0,40.025658,1101
2021-01-08,43.000000,42.799999,42.900002,42.950001,17371239.0,40.119068,1101

In [32]:
# Price
price = pandas.pivot_table(df, index=df.index, values = 'Close', columns= 'symbol') 
price.to_csv('data/prices.txt')

# Volumes
vol = pandas.pivot_table(df, index=df.index, values = 'Volume', columns= 'symbol') 
vol.to_csv('data/volumes.txt')

# Returns
returns = price.pct_change(1)
returns = returns.fillna(0)
returns = returns.iloc[1:,:]
returns.to_csv('data/returns.txt')